---
layout: default
---
{% include submenus/daten.html %}
<div class="container">
	<div class="container-left-10">
		<h1 class="text-left">Wie haben wir das gemacht?</h1>
	</div>
</div>
<div class="container">
	<div class="container-left-offset-1 container-left-8">
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
			aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
			takimata sanctus est.</p>
	</div>
</div>
<div class="container">
	<div class="container-left-offset-2 container-left-8">
		<p><strong>Finden & Suchen</strong></p>
		<p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
			labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
			kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
			accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
			dolor sit amet. </p>
	</div>
</div>
<div class="container">
	<div class="container-left-offset-2 container-left-8">
		<p><strong>Säubern</strong></p>
		<p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
			labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
			kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
			accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
			dolor sit amet. </p>
	</div>
</div>

<div class="container">
	<div class="container-left-offset-1 container-left-11">
		<h1>
			Datensatz II
		</h1>
	</div>
</div>
<div class="container-interlude container-interlude-margin-negative container-bg-light-yellow">
	<!--<div class="container">-->
	<div class="container-left-4 hide-mobile">
		<p class="text-center">
			<img src="/static/img/icons/right-pointing-magnifying-glass.png" alt="magnifying glass" style="width:3em">
		</p>
	</div>
	<div class="container-left-6">
		<p>
			<strong>aus den Schulverzeichnissen der Statistischen Landesämter sowie der Ministerien
				und der Senatsverwaltung für Bildung, Jugend und Familie</strong><br />
			<i>u.a. Name, Adresse, Kontakt, Schulleiter*innen, Arbeitsgemeinschaften, Förderangebote, Partnerschaften einer Schule</i>
		</p>
		<p>
			<strong>vom Statistischen Bundesamtes</strong><br />
			<i>u.a. Bildungsfinanzbericht, Lehrer*innen- und Schüler*innenzahlen, Schularten, Fremdsprachen</i>
		</p>
		<p>
			<strong>von der Betreuer*innen der bundesweiten Kooperationsprojekte im Bildungsbereich</strong><br />
			<i>u.a. Schule ohne Rassismus</i>
		</p>
		<p>
			<strong>vom Bayerischen Lehrer- und Lehrerinnenverbands e.V. online zugänglich sind</strong><br />
			<i>wie Schulverzeichnisse</i>
		</p>
		<p>
			<strong>von Schulen, die an den Programmen von BildungsCent e.V. teilnehmen</strong><br />
		</p>
	</div>
	<div class="container-left-2 interlude-margin-top hide-mobile">
		<img src="/static/img/icons/grapes.png" alt="grapes" style="width: 3em;" class="text-center">
	</div>
	<!--</div>-->
</div>

<div class="container">
	<div class="container-left-offset-2 container-left-8">
		<p><strong>Analysieren</strong></p>
		<p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
			labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
			kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
			accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
			dolor sit amet. </p>
	</div>
</div>
<div class="container">
	<div class="container-left-offset-2 container-left-8">
		<p><strong>Finden und Präsentieren</strong></p>
		<p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
			labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
			kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
			accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
			dolor sit amet. </p>
	</div>
</div>



<div class="container">
	<div class="container-left-offset-1 container-left-11">
		<h1>
			Klaut euch die Daten
			<img src="/static/img/icons/man-running.png" alt="" class="title-img hide-mobile">
		</h1>
	</div>
</div>
<div class="container container-bg-light-blue container-interlude-margin-negative">
	<div class="container-left-2 hide-mobile">
		<img src="/static/img/icons/woman-running.png" alt="">
	</div>
	<div class="container-left-8">
		<p>
			Ein kurzer Text, der erklärt, in welchem Rahmen die Datenschule dieses Projekt macht und dass wir uns freuen, wenn aus den
			vorhandenen Datenbeständen mehr Projekte entstehen. Dazu gibt es dann zwei Links. Einmal zu der Seite, auf der die Daten
			zum Download bereit stehen und dann noch die Projektseite, auf der Projekte gefeatured werden, die was zum selben
			Thema machen.
		</p>
		<div class="container">
			<div class="container-left-4">
				<strong><a href="/analyse/">zur den Daten <i class="fa fa-arrow-right"></i></a></strong>
			</div>
			<div class="container-left-4">
				<strong><a href="/analyse/">zur den Projekten <i class="fa fa-arrow-right"></i></a></strong>
			</div>
		</div>
	</div>
</div>

{% include next_download.html %}