<div class="container">
	<div class="container-left-offset-1 container-left-11">
		<h1>Weiter gehts</h1>
	</div>
</div>
<div class="container">
	<div class="container-left-5">
		<img src="/static/img/go_on_preview_download.png" alt="">
	</div>
	<div class="container-left-5">
		<p>Schau dir an, welche Abgeordneten zu welchem Thema gesprochen haben. Ut wisi enim ad minim veniam, quis nostrud exerci
			tation ullamcorper suscipit lobortis nisl.</p>
		<p>
			<strong><a href="/analyse/">zum Download <i class="fa fa-arrow-right"></i></a></strong>
		</p>
	</div>
</div>
</div>