<div class="container">
	<div class="container-left-offset-1 container-left-11">
		<h1>
			Klaut euch die Daten
			<img src="/static/img/icons/man-running.png" alt="" class="title-img hide-mobile">
		</h1>
	</div>
</div>
<div class="container container-bg-light-blue container-interlude-margin-negative">
	<div class="container-left-2 hide-mobile">
		<img src="/static/img/icons/woman-running.png" alt="">
	</div>
	<div class="container-left-8">
		<p>
			Ein kurzer Text, der erklärt, in welchem Rahmen die Datenschule dieses Projekt macht und dass wir uns freuen, wenn aus den
			vorhandenen Datenbeständen mehr Projekte entstehen. Dazu gibt es dann zwei Links. Einmal zu der Seite, auf der die Daten
			zum Download bereit stehen und dann noch die Projektseite, auf der Projekte gefeatured werden, die was zum selben
			Thema machen.
		</p>
		<div class="container">
			<div class="container-left-4">
				<strong><a href="/analyse/">zur den Daten <i class="fa fa-arrow-right"></i></a></strong>
			</div>
			<div class="container-left-4">
				<strong><a href="/analyse/">zur den Projekten <i class="fa fa-arrow-right"></i></a></strong>
			</div>
		</div>
	</div>
</div>