<section sticky-nav id="page-top" class="protocol-nav protocol-nav-normal" style="position: relative; z-index: 500">
	<div class="container" ng-if="$ctrl.utterances.length">
		<div class="container-left-2 box-margin-top-small">
			<div class="btn">
				<a href="/protokolle/#!?{{$ctrl.searchstring}}" class="bold"><i class="fa fa-arrow-left"></i> zur Suche</a>
			</div>
		</div>
		<div class="container-left-6">
			<h3>
				Sitzung {{$ctrl.session.number}}
			</h3>
			<div class="subtitle">
				{{$ctrl.session.date | date:"dd.MM.y"}}
			</div>
		</div>
		<div class="container-left-2 box-margin-top-small">
			<div ng-class="$ctrl.prevLink.length > 0 ? 'btn' : 'btn-inactive'">
				<a href="{{$ctrl.prevLink}}">
					<i class="fa fa-chevron-left"></i>vorheriges Suchergebnis
				</a>

			</div>
		</div>
		<div class="container-left-2 box-margin-top-small">
			<div class="btn">
				<a ng-href="{{$ctrl.nextLink}}" ng-click="$ctrl.reload($ctrl.nextLink)">nächstes Suchergebnis<i class="fa fa-chevron-right"></i></a>

			</div>
		</div>
	</div>
</section>

<section sticky-nav id="page-top" class="protocol-nav protocol-nav-mobile" style="position: relative; z-index: 500">
	<div class="container" ng-if="$ctrl.utterances.length">
		<div class="container-left-12 box-margin-top-small">
			<div class="btn btn-inline">
				<a href="/protokolle/#!?{{$ctrl.searchstring}}" class="bold"><i class="fa fa-arrow-left"></i>zur Suche</a>
			</div>

		</div>
	</div>
	<div class="container">
		<div class="container-left-12 box-margin-top-small">
			<div ng-class="$ctrl.prevLink.length > 0 ? 'btn btn-inline' : 'btn-inactive btn-inline'">
				<a href="{{$ctrl.prevLink}}">
					<i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i>
				</a>

			</div>

			<p class="display-inline">Sitzung {{$ctrl.session.number}} - {{$ctrl.session.date | date:"dd.MM.y"}}</p>

			<div class="btn btn-inline btn-right">
				<a ng-href="{{$ctrl.nextLink}}" ng-click="$ctrl.reload($ctrl.nextLink)"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a>
			</div>
		</div>
	</div>
</section>

<div class="container poicontainer">
	<div class="side-menu" ng-if="$ctrl.utterances.length">
		<ul class="nav">
			<li class="">
				<button href="#page-top">
					<span class="menu-title">Start</span>
					<span class="dot"></span>
				</button>
			</li>
			<li ng-repeat="top in $ctrl.tops track by $index" ng-class="{active: top.link==$ctrl.active}">
				<button href="#{{top.link}}">
					<span class="menu-title">{{top.title}}</span>
					<span class="dot"></span>
				</button>
			</li>
			<li class="">
				<button href="#page-end">
					<span class="menu-title">Ende</span>
					<span class="dot"></span>
				</button>
			</li>
		</ul>
	</div>
	<div class="container-left-12">
		<div class="main" ng-if="$ctrl.utterances.length">
			<h1> {{ $ctrl.utterances[0].wahlperiode }}. Wahlperiode - Sitzung {{ $ctrl.utterances[0].sitzung }}</h1>

			<top ng-repeat-start="utterance in $ctrl.utterances"
				 ng-if="utterance.type === 'top'" title="utterance.title" categories="utterance.categories" in-view="$ctrl.updateTop()"></top>
			<speech id="{{utterance.sequence}}" ng-if="utterance.type === 'speech' || utterance.type === 'chair'" utterance="utterance"></speech>
			<poi ng-repeat-end
				 ng-if="utterance.type === 'poi'" utterance="utterance" linked="utterance.sequence "></poi>
		</div>
		<div class="main" ng-if="!$ctrl.utterances.length">
			<div class="loader"></div>
		</div>
	</div>
	<div id="page-end"></div>
</div>
