<div class="container">
	<div class="container-left-4">
		<h3>Thema:</h3>
		<ui-select multiple ng-model="$ctrl.selectedCategories" theme="selectize" sortable="true" close-on-select="true"
				   on-select="$ctrl.search()" on-remove="$ctrl.search()">
			<ui-select-match placeholder="Kategorie auswählen ...">{{$item}}</ui-select-match>
			<ui-select-choices repeat="category in $ctrl.categories | filter: $select.search">
				<div ng-bind-html="category | highlight: $select.search"></div>
			</ui-select-choices>
		</ui-select>
	</div>

	<div class="container-left-4 form-group">
		<h3>Person:</h3>
		<ui-select multiple ng-model="$ctrl.selectedSpeakers" theme="selectize" sortable="true" close-on-select="true"
				   on-select="$ctrl.search()" on-remove="$ctrl.search()">
			<ui-select-match placeholder="Tippe den Namen eines Abgeordneten...">{{$item.speaker_cleaned}} ({{$ctrl.parties[$item.speaker_party].name}})</ui-select-match>
			<ui-select-choices repeat="speaker in $ctrl.speakers | filter: $select.search | limitTo: 30">
				<div class="container" style="height: 3em; overflow: hidden;">
					<div class="container-left-2">
						<div class="picture-wrapper">
							<img ng-src="{{speaker.picture}}" alt="" style="width:75%; clip-path:circle(16px at 15px 18px)"/>
						</div>
					</div>
					<div class="container-left-8">
						<div>
							<span ng-bind-html="speaker.speaker_cleaned | highlight: $select.search"></span>
							<img ng-src="{{$ctrl.parties[speaker.speaker_party].logo}}" alt="Logo {{$ctrl.parties[speaker.speaker_party].name}}" style="max-width:3em; max-height:1em">
						</div>
						<small>
							{{speaker.age}} Jahre, {{speaker.education}}
						</small>
					</div>
				</div>
			</ui-select-choices>
			<span class="input-group-btn">
          <button type="button" ng-click="$ctrl.selectedSpeakers = []" class="btn btn-default">
            <span class="fa fa-trash"></span>
          </button>
        </span>
		</ui-select>

	</div>

	<div class="container-left-4">
		<h3>Jahr:</h3>
		<ui-select multiple ng-model="$ctrl.selectedYears" theme="selectize" sortable="true" close-on-select="true"
				   on-select="$ctrl.search()" on-remove="$ctrl.search()">
			<ui-select-match placeholder="Jahr auswählen...">{{$item}}</ui-select-match>
			<ui-select-choices repeat="year in [2013,2014,2015,2016,2017] | filter: $select.search">
				<div ng-bind-html="year | highlight: $select.search"></div>
			</ui-select-choices>
		</ui-select>
	</div>
</div>
<div class="container">
	<div class="container-left-4">
		<h3>Suche:</h3>
		<ui-select multiple ng-model="$ctrl.selectedSearch" theme="selectize"
				   tagging-tokens="SPACE|,|/"
				   tagging="$ctrl.tagTransform"
				   placeholder="Inhalte suchen..." on-select="$ctrl.search()" on-remove="$ctrl.search()">
			<ui-select-match placeholder="Suchbegriff eingeben...">{{$item.text}}</ui-select-match>
			<ui-select-choices repeat="year in [] | filter: $select.search" style="display: none">
				<div></div>
			</ui-select-choices>
		</ui-select>
	</div>
</div>

<div>
	<div class="tops container-left-12">
		<!--<table ng-if="!$ctrl.loading && $ctrl.sessions.length">-->
		<!--<thead>-->
		<!--<tr>-->
		<!--<th style="width: 10%">Sitzung</th>-->
		<!--<th style="width: 10%">Datum</th>-->
		<!--<th style="width: 80%">Tagesordnungspunkte</th>-->
		<!--&lt;!&ndash;<th style="width: 40%">Kategorien</th>&ndash;&gt;-->
		<!--</tr>-->
		<!--</thead>-->
		<!--<tbody>-->
		<!--<tr ng-repeat="session in $ctrl.sessions" style="border:1px solid black">-->
		<!--<td><span>{{session.session.sitzung}}.</span></td>-->
		<!--<td><span ng-if="session.session.date">{{ session.session.date | date :  "dd.MM.y" }}</span></td>-->
		<!--<td>-->
		<!--<table>-->
		<!--<tr ng-repeat="top in session.tops" style="border: 1px solid black;">-->
		<!--<td style="width:50%">-->
		<!--<a ng-href="{{top.link}}{{$ctrl.paramstring}}{{top.link_fragment}}">{{top.title}}</a>-->
		<!--</td>-->
		<!--<td style="width:50%">-->
		<!--<a ng-href="{{top.link}}{{$ctrl.paramstring}}{{top.link_fragment}}">{{top.categories.join(', ')}}</a>-->
		<!--</td>-->
		<!--</tr>-->
		<!--</table>-->
		<!--</td>-->
		<!--</tr>-->
		<!--</tbody>-->
		<!--</table>-->
		<div class="container hide-mobile" ng-if="!$ctrl.loading && $ctrl.sessions.length">
			<div class="container-left-1">Sitzung</div>
			<div class="container-left-2">Datum</div>
			<div class="container-left-8">
				<div class="container">
					<div class="container-left-2">Bezeichner</div>
					<div class="container-left-5">Titel</div>
					<div class="container-left-4">Kategorien</div>
				</div>
		</div>
		<!--<tbody>-->
		<div class="container" ng-repeat="session in $ctrl.sessions">
			<div class="container-left-1 session-column"><span>{{session.session.sitzung}}.</span><span class="show-mobile"> Sitzung</span></div>
			<div class="container-left-2 wrap"><span ng-if="session.session.date">{{ session.session.date | date :  "dd.MM.y" }}</span></div>
			<div class="container-left-8">
				<hr  class="show-mobile-block" />
				<div class="container" ng-repeat="top in session.tops">
					<div class="container-left-2">
						<a ng-href="{{top.link}}{{$ctrl.paramstring}}{{top.link_fragment}}">{{top.session_identifier}}</a>
					</div>
					<div class="container-left-5">
						<a ng-href="{{top.link}}{{$ctrl.paramstring}}{{top.link_fragment}}">{{top.name}}</a>
					</div>
					<div class="container-left-4">
						<a ng-href="{{top.link}}{{$ctrl.paramstring}}{{top.link_fragment}}">{{top.categories.join(', ')}}</a>
					</div>
					<hr class="show-mobile-block" />
				</div>
			</div>
		</div>

		<div class="loader" ng-if="$ctrl.loading"></div>

		<div ng-if="!$ctrl.loading && !$ctrl.sessions.length">
			🕵Wir haben gesucht aber nichts gefunden...
		</div>
	</div>
</div>
