.side-menu {
  position: fixed;
  right: 20px;
  top: 30%;
  transform: translateY(-73px);
  z-index: 99;
}

.side-menu ul {
  list-style: none;
}

.side-menu ul li {
  text-align: right;
  margin: 8px 0;
  cursor: pointer;
  height: 30px;
  max-height: 30px;
  min-height: 30px;
}

.side-menu ul li button {
  border: none;
}

.side-menu ul li button:focus {
  outline: 0;
}

.side-menu ul li button span {
  display: inline-block;
}

.side-menu ul li button span.menu-title {
  color: #fff;
  position: relative;
  margin: 0;
  vertical-align: middle;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 12px;
  background-color: $base-accent-color;
  padding: 3px 10px;
  font-weight: 600;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  display: none;
  opacity: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.side-menu ul li button span.dot {
  position: relative;
  background-color: $base-accent-color;
  border-radius: 2em;
  height: 10px;
  vertical-align: middle;
  width: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.side-menu ul li button:hover span.menu-title {
  display: inline-block;
  opacity: 1;
}

.side-menu ul li.active button span.menu-title {
  display: inline-block;
  opacity: 1;
}

.side-menu ul li button:hover span.dot {
  transform: scale(1.8);
}

.side-menu ul li.active span.dot {
  background-color: grey;
}

.side-menu.expanded ul li button span.menu-title {
  display: inline-block;
  opacity: 1;
}

.side-menu div, .side-menu div.li, .side-menu button {
  margin: 0;
  padding: 0;
  background-color: transparent !important;
}