.controls-fixed{
  background-color: $container-grey;
  top:0;
  left:0;
  padding:10px 15px;
  position:fixed;
  bottom:auto;
  width:100%;
  color: black;
  p {
    color: black;
    a {
      color:black;
    }
  }
}