---
layout: default
---
<div class="container">
	<div class="container-left-10">
		<h1 class="text-left">Über das Projekt</h1>
	</div>
</div>
<div class="container">
	<div class="container-left-offset-1 container-left-8">
		<p>Was passierte in den letzten vier Jahren im Bundestag? Wir stellen erstmals alle Plenarprotokolle maschinenlesbar zur Verfügung. Weil allein das zu wenig wäre, gibt es gleich noch Analysen mit dazu.
			Welche Themen dominierten? Welcher Abgeordnete hat am häufigsten gesprochen? Und wer von welcher Fraktion?</p>
	</div>
</div>

<div class="container-interlude">
	<!--<div class="container">-->
		<div class="container-left-2 hide-mobile">
			<p class="text-center">
				<img src="/static/img/icons/right-pointing-magnifying-glass.png" alt="magnifying glass" style="width:3em">
			</p>
		</div>
		<div class="container-left-8">
			<p class="interlude-text-big"><a href="/protokolle.html">Durchsucht alle 244 Plenarprotokolle</a> der letzten vier Jahre, <a href="/protokolle.html"> filtert alle zu einem einzelnen Abgeordneten</a> oder bekommt auf den <a href="/analyse/index.html">Analyse-Seiten</a> einen Überblick, wer wie oft zu welchem Thema sprach.</p>
		</div>
		<div class="container-left-2 interlude-margin-top hide-mobile">
			<img src="/static/img/icons/grapes.png" alt="grapes" style="width: 3em;" class="text-center">
		</div>
	<!--</div>-->
</div>

{% include stole_data.html %}

{% include next_speeches.html %}