.u-centered {
  text-align: center;
}

.b-centered {
  margin:auto;
}

.u-padding-right {
  padding-right: 0.5em;
}

.u-margin-top {
  margin-top: $base-padding;
}

.sr-only {
  height: 0;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.medium-down-only {
  @include respond-to(medium-up) {
      display: none;
  }
}

.subpage-breadcrumb {
  margin-bottom: 0;
}

.u-padding-small_screen {
  padding-left: $base-padding;
  padding-right: $base-padding;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

*[hidden], .hidden {
  display: none !important;
}

.show-mobile {
  @include respond-to(small-up) {
    display: none !important;
  }
}

.show-mobile-block {
  display:none;
  @include respond-to(medium-down) {
    display: block;
  }
}

.hide-mobile {
  @include respond-to(small-down) {
    display:none !important;
  }
}

.hide-medium {
  @include respond-to(medium-down) {
    display:none !important;
  }
}

.wrap {
  word-wrap: break-word;
}
