<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{{title}}</title>

	<!-- Custom CSS -->
	<!--<link rel="stylesheet" href="/static/css/select.min.css">-->
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
	<link href="/static/css/main.css" rel="stylesheet">
	<script src="/dist/main.js"></script>

</head>

<body id="page-top" class="index">
{{content}}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/refill.js"></script>
</body>
</html>