---
layout: base
---

<header id="top" class="navigation" role="banner">
	<div class="navigation-wrapper">
		<a href="/" class="logo">
			<div class="header"><img src="/static/img/logo.png" alt="" style="max-height: 4em;"/><span class="header-title">OffenesParlament</span></div>
		</a>
		<a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i> MENU</a>
		<nav role="navigation">
			<ul id="js-navigation-menu" class="navigation-menu show">
				<li class="nav-link {% if selected == 'protokolle' %}active {% endif %}"><a href="/protokolle">Protokolle</a></li>
				<!--<li class="nav-link more {% if selected == 'analyse' %}active {% endif %}"><a href="/analyse">Analyse</a>-->
				<!--<ul class="submenu">-->
				<!--<li class="nav-link"><a href="/analyse/themen.html">Themen</a></li>-->
				<!--<li class="nav-link"><a href="/analyse/redeanteile.html">Reden</a></li>-->
				<!--<li class="nav-link"><a href="/analyse/abgeordnete.html">Abgeordnete</a></li>-->
				<!--</ul>-->
				<!--</li>-->
				<li class="nav-link more {% if selected == 'analyse' %}active {% endif %}"><a href="/analyse">Analyse</a>
					<ul class="submenu">
						<li class="nav-link"><a href="/analyse/themen.html">Themen</a></li>
						<li class="nav-link"><a href="/analyse/abgeordnete.html">Sprecher</a></li>
						<li class="nav-link"><a href="/analyse/redeanteile.html">Hintergrund</a></li>
					</ul>
				</li>
				<li class="nav-link {% if selected == 'daten' %}active {% endif %}"><a href="/daten/">Daten</a>
					<!--<ul class="submenu">-->
					<!--<li class="nav-link"><a href="/daten/aufbereitung.html">Aufbereitung</a></li>-->
					<!--<li class="nav-link"><a href="/daten/download.html">Download</a></li>-->
					<!--</ul>-->
				</li>
			</ul>
		</nav>
	</div>
</header>

<div id="mainContent">
	{{ content }}
</div>
<footer class="box-margin-top-medium" style="z-index: 10000">
	<div class="container">
		<div class="container-left-6">
			<div class="container">
				<p>OffenesParlament.de ist ein Projekt der Open Knowledge Foundation Deutschland. Es entstand aus der Zusammenarbeit zwischen der Datenschule und abgeordnetenwatch.de.</p>
			</div>
			<div class="container">
				<div class="footer-container-left-12">
					<div class="footer-logo-container footer-logo-bc">
						<div class="footer-logo">
							<a href="http://www.abgeordnetenwatch.de"><img alt="Abgeordnetenwatch" src="/static/img/logos/logo_abgeordnetenwatch.png"></a>
						</div>
					</div>
					<div class="footer-logo-container">
						<div class="footer-logo">
							<a href="https://datenschule.de" target="_blank"><img alt="Datenschule" src="/static/img/logos/logo_datenschule.png" style="margin-top:16px; height:30px"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="footer-container-left-12">
					<div class="footer-logo-container">
						<div class="footer-logo footer-logo-bc">
							<a href="http://okfn.de"><img alt="Open Knowledge Foundation Deutschland e.V." src="/static/img/logos/logo_okfde.png" style="height: 50px; width:auto"></a>
						</div>
					</div>
				</div>
			</div>

			<p><a href="http://okfn.us5.list-manage.com/subscribe?u=929f1e07936386d34833e20d1&id=57affeefd3" target="_blank">Newsletter der Datenschule</a> / <a
					href="http://okfn.us5.list-manage.com/subscribe?u=929f1e07936386d34833e20d1&id=4ed2decd59">Newsletter der Open Knowledge Foundation Deutschland abonnieren.</a></p>
		</div>
		<div class="container-left-6">
			<p>
				Die Inhalte dieser Webseite sind, sofern nicht anders angegeben, nach
				<a href="https://creativecommons.org/licenses/by/3.0/deed.de" target="_blank">Creative Commons 3.0 Attribution</a>
				lizenziert. <br/>
			</p>
			<p>
				Emoji Icons auf nicht nativen Plattformen <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a> <a href="https://github.com/twitter/twemoji">Twemoji</a>. <br/>
			</p>
			<p class="attribution">Logo: <a href="https://thenounproject.com/term/assembly/468455/">assembly</a> by <a href="https://thenounproject.com/nr/">Noël Rasendrason</a> from <a href="https://thenounproject.com">the Noun Project</a>, <a href="https://creativecommons.org/licenses/by/3.0/legalcode">CC BY 3.0</a>. <a href="https://thenounproject.com/term/users/631511/">users</a> by <a href="https://thenounproject.com/cstudent11235">Hector</a> from <a href="https://thenounproject.com">the Noun Project</a>, <a href="https://creativecommons.org/licenses/by/3.0/legalcode">CC BY 3.0</a>.</p>
			<p>
				Coded with <3 by Datenschule. Wir bedanken uns für die technische Unterstützung bei
				Knut Hühne und bei Nadine Stammen für das Design. Ebenso bei der <a href="https://www.haw-hamburg.de/startseite.html">HAW Hamburg</a> für den wertvollen inhaltlichen Input im Rahmen des Projekts.
			</p>

		</div>
	</div>
	<div class="container">
		<div class="container-left-6">
			<div class="container">
				<div class="container-left-6"><p><a href="/presse">Presse/Kontakt</a></p></div>
				<div class="container-left-6">
					<p class="pull-right hide-mobile"><a href="/impressum">Impressum</a></p>
					<p class="show-mobile"><a href="/impressum">Impressum</a></p>
				</div>

			</div>
		</div>
		<div class="container-left-6">
			<div class="container">
				<div class="container-left-3"><p><a href="https://datenschule.de" target="_blank">Datenschule</a></p></div>
				<div class="container-left-3"><p><a href="https://fragdenstaat.de" target="_blank">FragDenStaat</a></p></div>
				<div class="container-left-3"><p><a href="https://kleineanfragen.de" target="_blank">KleineAnfragen</a></p></div>
				<div class="container-left-3"><p><a href="https://sehrgutachten.de" target="_blank">SehrGutachten</a></p></div>
			</div>
		</div>
	</div>
</footer>